section {
	width: 900px;
	border: 2px solid black;
}

	div {
		border-bottom: 2px solid silver;
	}

		div > * {
			display: inline-block;
		}

	body > header {
		border: 2px solid blue;
		width: 900px;
	}